version: '3.8'

services:
  frontend:
    image: mricognito/frontend:latest
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    ports:
      - "80:80"
    depends_on:
      - backend
    environment:
      - REACT_APP_API_URL=http://localhost:3000
      - REACT_APP_ANALYSIS_URL=http://localhost:5000

  backend:
    image: mricognito/backend:latest
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      - NODE_ENV=production
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USERNAME=postgres
      - DB_PASSWORD=Ojasv@123
      - DB_NAME=profiles_db
      - JWT_SECRET=your_jwt_secret
      - PORT=3000

  analysis-engine:
    image: mricognito/analysis:latest
    build:
      context: ./analysis-engine
      dockerfile: Dockerfile.prod
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
      - MODEL_PATH=/app/models
    profiles:
      - donotstart

  db:
    image: postgres:14-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=Ojasv@123
      - POSTGRES_DB=profiles_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
